{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "es6": true,
      "react-native-globals/all": true
  },
  "plugins": [
      "react",
      "react-native-globals",
      "react-hooks"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "prettier",
      "prettier/react",
      "plugin:prettier/recommended"
  ],
  "rules": {
      "react/prop-types": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
  }
}